<a href="https://colab.research.google.com/github/NdindaLeech/hello-world2/blob/master/scrap_for_Data_Investigation_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
import pandas as pd

# Importing the numpy library
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [ ]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv')

## 1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 10 rows of our data
# 
df.head(10)

       District Urban/Rural Age_years   Male  ...  Total   County Province OBJECTID
0  NAIROBI WEST       Urban         0  10126  ...  20242  Nairobi  NAIROBI        0
1  NAIROBI WEST       Urban         1   8124  ...  16113  Nairobi  NAIROBI        1
2  NAIROBI WEST       Urban         2   8462  ...  17089  Nairobi  NAIROBI        2
3  NAIROBI WEST       Urban         3   8334  ...  16754  Nairobi  NAIROBI        3
4  NAIROBI WEST       Urban         4   7948  ...  15768  Nairobi  NAIROBI        4
5  NAIROBI WEST       Urban         5   7547  ...  15207  Nairobi  NAIROBI        5
6  NAIROBI WEST       Urban         6   6966  ...  14048  Nairobi  NAIROBI        6
7  NAIROBI WEST       Urban         7   6511  ...  13185  Nairobi  NAIROBI        7
8  NAIROBI WEST       Urban         8   6171  ...  12660  Nairobi  NAIROBI        8
9  NAIROBI WEST       Urban         9   6361  ...  13023  Nairobi  NAIROBI        9

[10 rows x 9 columns]

## 1.3 Accessing Information about our Dataset

In [ ]:
# We can getting to know more about the dataset by accessing its information 
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [ ]:
# Challenge 1
# What was the average age of a person of Kenya?
# the age_years is indicated as anobject and not an int_Leech
#first convert to int then get average age
#df["Age_years"] = df["Age_years"].astype(str).astype(int)
#df.astype({'Age_years': 'int64'}).dtypes
#df['Age_years'].astype(int)
#pd.to_numeric(df['Age_years'], errors='ignore')
df['Age_years']=pd.to_numeric(df['Age_years'], errors='coerce')
df['Age_years'].mean()

39.5

In [ ]:
# Challenge 2
# What was the average female population in Kenya?
#
df['Female'].mean()

763.8725019669552

In [ ]:
# Challenge 3
# What was the average male population in Kenya?
#
df['Male'].mean()

755.0140833988985

In [ ]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#MY NOTES_LEECH
#To create another colum and ranks in ascending
#df['DistrictRanked'] = df['Total'].rank(ascending=1)

#df.groupby(['District']).size()
#to aggregate values in a specific column
df.groupby(['District']).groups.keys()

dict_keys(['BARINGO', 'BARINGO NORTH', 'BOMET', 'BONDO', 'BORABU', 'BUNGOMA EAST', 'BUNGOMA NORTH', 'BUNGOMA SOUTH', 'BUNGOMA WEST', 'BUNYALA', 'BURET', 'BUSIA', 'BUTERE', 'CHALBI', 'EAST POKOT', 'ELDORET EAST', 'ELDORET WEST', 'EMBU', 'EMUHAYA', 'FAFI', 'GARBATULLA', 'GARISSA', 'GATANGA', 'GATUNDU', 'GITHUNGURI', 'GUCHA', 'GUCHA SOUTH', 'HAMISI', 'HOMABAY', 'IGEMBE', 'IJARA', 'IMENTI NORTH', 'IMENTI SOUTH', 'ISIOLO', 'KAJIADO CENTRAL', 'KAJIADO NORTH', 'KAKAMEGA CENTRAL', 'KAKAMEGA EAST', 'KAKAMEGA NORTH', 'KAKAMEGA SOUTH', 'KALOLENI', 'KANGUNDO', 'KEIYO', 'KERICHO', 'KIAMBU EAST(KIAMBAA)', 'KIAMBU WEST', 'KIBWEZI', 'KIKUYU', 'KILIFI', 'KILINDINI', 'KINANGO', 'KIPKELION', 'KIRINYAGA', 'KISII CENTRAL', 'KISII SOUTH', 'KISUMU EAST', 'KISUMU WEST', 'KITUI', 'KOIBATEK', 'KURIA EAST', 'KURIA WEST', 'KWALE', 'KWANZA', 'KYUSO', 'LAGDERA', 'LAIKIPIA EAST', 'LAIKIPIA NORTH', 'LAIKIPIA WEST', 'LAISAMIS', 'LAMU', 'LARI', 'LOITOKITOK', 'LUGARI', 'MAARA', 'MACHAKOS', 'MAKUENI', 'MALINDI', 'MANDERA CENTRAL', 'MANDERA EAST', 'MANDERA WEST', 'MANGA', 'MARAKWET', 'MARSABIT', 'MASABA', 'MBEERE', 'MBOONI', 'MERU CENTRAL', 'MERU SOUTH', 'MIGORI', 'MOLO', 'MOMBASA', 'MOYALE', 'MSAMBWENI', 'MT. ELGON', 'MUMIAS', 'MURANGA NORTH', 'MURANGA SOUTH', 'MUTOMO', 'MWALA', 'MWINGI', 'NAIROBI EAST', 'NAIROBI NORTH', 'NAIROBI WEST', 'NAIVASHA', 'NAKURU', 'NAKURU NORTH', 'NANDI CENTRAL', 'NANDI EAST', 'NANDI NORTH', 'NANDI SOUTH', 'NAROK NORTH', 'NAROK SOUTH', 'NYAMIRA', 'NYANDARUA NORTH', 'NYANDARUA SOUTH', 'NYANDO', 'NYERI NORTH', 'NYERI SOUTH', 'NZAUI', 'POKOT CENTRAL', 'POKOT NORTH', 'RACHUONYO', 'RARIEDA', 'RONGO', 'RUIRU', 'SAMBURU CENTRAL', 'SAMBURU EAST', 'SAMBURU NORTH', 'SAMIA', 'SIAYA', 'SOTIK', 'SUBA', 'TAITA', 'TANA DELTA', 'TANA RIVER', 'TAVETA', 'TESO NORTH', 'TESO SOUTH', 'THARAKA', 'THIKA EAST', 'THIKA WEST', 'TIGANIA', 'TINDERET', 'TRANS MARA', 'TRANS NZOIA EAST', 'TRANS NZOIA WEST', 'TURKANA CENTRAL', 'TURKANA NORTH', 'TURKANA SOUTH', 'VIHIGA', 'WAJIR EAST', 'WAJIR NORTH', 'WAJIR SOUTH', 'WAJIR WEST', 'WARENG', 'WEST POKOT', 'WESTLANDS', 'YATTA'])

In [ ]:
df.groupby('District')['Total'].sum()
df

             District Urban/Rural  ... OBJECTID  DistrictRanked
9881   LAIKIPIA NORTH       Urban  ...     9881          2686.5
22344  LAIKIPIA NORTH       Rural  ...    22344         11922.5
22305  LAIKIPIA NORTH       Rural  ...    22305         15149.5
9862   LAIKIPIA NORTH       Urban  ...     9862          4172.5
9863   LAIKIPIA NORTH       Urban  ...     9863          4085.5
...               ...         ...  ...      ...             ...
108      NAIROBI EAST       Urban  ...      108         25420.0
107      NAIROBI EAST       Urban  ...      107         25417.0
106      NAIROBI EAST       Urban  ...      106         25416.0
105      NAIROBI EAST       Urban  ...      105         25415.0
162      NAIROBI EAST       Urban  ...      162         19839.0

[25420 rows x 10 columns]

In [ ]:
grouped_df = df.groupby('District')
df["DistrictAggregate"]=grouped_df['Total'].transform(sum)
df = df.sort_values("DistrictAggregate", ascending=True)
df = df.drop("DistrictAggregate", axis=1)

In [ ]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
df['Total'].groupby([df['County']]).mean().sort_values(ascending=False).head(1)

County
Nairobi    9568.198171
Name: Total, dtype: float64

In [ ]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
OUR CODE GOES HERE

In [ ]:
# Challenge 9
# What was the total population of Busia County? 
# 

df['Total'].groupby([df['County']]).get_group('Busia').sum()

743946

In [ ]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
# 

#df['Age_years'].groupby([df['County']]).get_group('Busia').mean()
ba=df['Age_years'].groupby([df['County']]).get_group('Busia'
bdf['Age_years'] > 39.5)

SyntaxError: ignored

In [ ]:
#getting the total number of items categorized within a column using.apply() function
grouped=df.groupby("County")["Urban/Rural"]
grouped.apply(lambda x:x.value_counts())
#grouped.apply(lambda x:x.sum())

County
Baringo     Rural    328
            Urban    328
Bomet       Rural    246
            Urban    246
Bungoma     Rural    410
                    ...
Vihiga      Urban    246
Wajir       Rural    328
            Urban    328
West Pokot  Rural    246
            Urban    246
Name: Urban/Rural, Length: 92, dtype: int64

In [ ]:
#the total population of a particular county
df['Total'].groupby([df['County']]).get_group('Nairobi').sum()

In [ ]:
# performing aggregation using 
# aggregate method 

df.groupby('County') .aggregate(np.sum).head(5)

                   Male  Female    Total  OBJECTID  DistrictRanked
County
Baringo          279081  276480   555561   9897248       6604597.0
Bomet            442830  449005   891835   8532510       6817835.0
Bungoma          671548  703515  1375063  15229450      11845949.5
Busia            356122  387824   743946  15565650       9003438.5
Elgeyo Marakwet  183738  186260   369998   5110076       4033343.5

In [ ]:
# applying a function by passing 
# a list of functions
#aggregating on a particular item

#the grp defines the element of interest_Leech 

grp = df.groupby('County') 

grp['Total'].agg([np.sum, np.mean]).head()

                     sum         mean
County
Baringo           555561   846.891768
Bomet             891835  1812.672764
Bungoma          1375063  1676.906098
Busia             743946   907.251220
Elgeyo Marakwet   369998  1128.042683

In [ ]:
# Challenge 11
# What was the Total population of Teso South District?
# 
df['Total'].groupby([df['District']]).get_group('TESO SOUTH').sum()

137924

In [ ]:
# Challenge 12
# What was the urban population of Teso South District?
# 
#ds=df['Total'].groupby([df['District']]).get_group('TESO SOUTH').sum()
#new = data["Gender"].isin(["Male"])
#dsb=ds["Urban"].isin(["Urban/Rural"])
DC = ['TESO SOUTH']
dts=df[df.District.isin(DC) & (df['Urban/Rural'] == "Urban")]
dts['Total'].sum()

26162

In [ ]:
# Challenge 13
# What was the rural population of Teso South District?
# 
DC = ['TESO SOUTH']
dts=df[df.District.isin(DC) & (df['Urban/Rural'] == "Rural")]
dts['Total'].sum()

111762

In [ ]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
#ds=df[(df['Total']) & (df['Age_years'] > 60)]
pops=df['Age_years'] > 60
pop["Total"].sum()

TypeError: ignored

In [ ]:
# Challenge 15 
# What was the urban population in Kenya?
#
grp = df[df.] (df['Urban/Rural'] < 5)]

grp['Total'].agg([np.sum,